@use "../../theming/styles/theme" as theme;

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: theme.get-radius(sm);
  border: theme.get-border-size(thin) solid theme.get-border(standard);
  background: theme.get-background(standard);
}

:host(.gom-card--content-gap) {
  gap: theme.get-gap(sm);
}

:host(.gom-card--content-gutter) {
  padding: theme.get-spacing(sm);
}
