@if (show()) {
  <div class="gom-modal__overlay" (click)="onBackdropClick()">
    <div
      class="gom-modal__dialog"
      [class.gom-modal__dialog--small]="size() === 'small'"
      [class.gom-modal__dialog--large]="size() === 'large'"
      role="dialog"
      aria-modal="true"
      tabindex="-1"
      (click)="onDialogClick($event)"
    >
      @if (title()) {
        <div class="gom-modal__header">
          <h2 class="gom-modal__title">{{ title() }}</h2>
          @if (showCloseButton()) {
            <gom-lib-button
              type="button"
              variant="secondary"
              size="icon"
              (buttonClick)="close()"
              class="gom-modal__close"
              aria-label="Close modal"
            >
              <i class="ri-close-line" aria-hidden="true"></i>
            </gom-lib-button>
          }
        </div>
      }

      <div class="gom-modal__content">
        <ng-content></ng-content>
      </div>

      <div class="gom-modal__footer">
        <ng-content select="[gom-modal-actions]"></ng-content>
      </div>
    </div>
  </div>
}
