@use "../../theming/styles/theme" as theme;

.gom-dynamic-form {
  display: grid;
  gap: theme.get-gap(sm);
}

.gom-dynamic-form__group {
  display: grid;
  gap: theme.get-gap(xs);

  label {
    display: block;
    margin-bottom: 0;
    @include theme.typography-label;
    color: theme.get-text(primary);
  }

  gom-lib-input,
  gom-lib-textarea,
  gom-lib-select {
    width: 100%;
  }
}
