@use "theme" as theme;

.form-grid {
  display: grid;
  gap: theme.get-gap(sm);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tax-form__actions {
  width: 100%;
}

.tax-form__action {
  justify-content: center;
}

@media (max-width: 960px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
